@font-face {
   font-family: "porter-sans-inline";
   src: url(porter-sans-inline-block.ttf);
}
@font-face {
   font-family:"Racingsans";
   src: url(RacingSansOne-Regular.ttf);
}
body {
    font-family: "racingsans";
    color: #227B94;
 }
 header {
    background-color: #FFDC7F;
    color: #16325B;
    text-shadow: #16325B;
    padding: 20px 0;
    text-align: center;
 }
 
 header h1 {
    background-color: #FFDC7F;
    font-family: "porter-sans-inline";
    margin: 0;
    font-size: auto;
 }
 
 nav{
    background-color: #78B7D0;
    padding: 3px;
    
 }
 nav ul {
    font-family: "racingsans";
    list-style-type: none;
    padding: 0;
 }
 
 nav ul li {
    display: inline;
    margin: 0 10em;
 }
 
 nav ul li a {
    color: #000;
    text-decoration: none;
    font-size: 25px;
 }
 section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }
 
 .review {
    margin-bottom: 20px;
 }
 
 footer {
    background-color: #FFDC7F;
    color: #000;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
 }
 
 .kort{
   background-color: #fff;
   padding: 15px;
   margin-left: 35%;
   border-radius: 4px;
   border: 1px solid #fff;
   width: 100%;
   max-width: 500px;
   text-align: center;
  
 }