@font-face {
   font-family: "porter-sans-inline";
   src: url(porter-sans-inline-block.ttf);
}
@font-face {
   font-family:"Racingsans";
   src: url(RacingSansOne-Regular.ttf);
}

body {
   font-family: "racingsans";
   color: #227B94;
}

header {
   background-color: #FFDC7F;
   color: #16325B;
   padding: 20px 0;
   text-align: center;
   padding-bottom: auto;
   text-shadow: #16325B;
}

header h1 {
   background-color: #FFDC7F;
   font-family: "porter-sans-inline";
   margin: 0;
   text-align: center;
}

nav{
   background-color: #78B7D0;
   padding: 9px;
   text-align: center;
}
nav ul {
   font-family: "racingsans";
   list-style-type: none;
   padding: 0;
}

nav ul li {
   display: inline;
   margin: 0 10em;
}

nav ul li a {
   color: #000;
   text-decoration: none;
   
}


section {
   padding: 20px;
   margin: 20px auto;
   max-width: 800px;
   background-color: #fff;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.review {
   margin-bottom: 20px;
}

footer {
   background-color: #FFDC7F;
   color: #000;
   text-align: center;
   padding: 10px 0;
   position: fixed;
   width: 100%;
   bottom: 0;
}

.container {
   justify-content: center;
   text-align: center;
   max-width: 300px;
   background-color: #78B7D0;
   padding: 20px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   border-radius: 400px;
}

form {
   margin-bottom: 20px;
}

input, textarea {
   width: 200px;
   padding: 10px;
   margin-bottom: 10px;
   border: 1px solid #ddd;
   border-radius: 4px;
   font-size: 16px;
}
button {
   width: 100%;
   padding: 10px;
   background-color: #FFDC7F;
   color: white;
   border: none;
   border-radius: 4px;
   font-size: 16px;
   cursor: pointer;
}

button:hover {
   background-color: #FFDC7F;
   animation-delay: -100ms;
}

#reviews {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.review-card {
   background-color: #f8f9fa;
   padding: 15px;
   margin-bottom: 10px;
   border-radius: 4px;
   border: 1px solid #ddd;
   width: 100%;
   max-width: 500px;
   text-align: left;
}
.review-card h3 {
   margin: 0;
   margin-bottom: 5px;
   font-size: 18px;
   color: #FFDC7F;
}

.review-card p {
   margin: 0;
   font-size: 14px;
   color: #555;
}

div .bildruta{
   float: center;
}
.bildruta{
   display: flex;
   flex-direction: column;
   align-items: center;
   max-width: 600px;
   background-color: #fff;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.kolumn{
   padding: auto;
}
.toppFyra{
   content: "";
   clear: both;
table-layout: auto;
}
@media (max-width: 400px) {
   .container {
       flex-direction: row;
   }
}

.egen {
   max-width: 100%;
   height: auto;
   border-radius: 10px;
   margin-bottom: 20px;
}

.småkort{
   max-width: 50%;
   height: auto;
   border-radius: 10px;
   margin-bottom: 20px;
   float: left;
}

.text-box {
   max-width: 100%;
   text-align: left;
   padding: 20px;
   background-color: #fff;
   border-radius: 10px;
   place-self: auto;
}
.text-box p {
   float: right;
}

@media (max-width: 400px) {
   .text-box {
       margin-left: 20px;
       max-width: 50%;
   }
}


.wrapper {
   width: 1000px;
   margin: 0 auto;
 }
 
 .content {
   height: 500px;
   width: 1000px;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
 }
 
 .image {
   float: left;
 }
 
 .box {
   float: auto;
   text-align: left; 
   font-size: large;
 }
 h4{
   font-size: x-large;
 }